body  {
      font: 16px Caibri, Sans-Serif;
      background: url(ricepaper_v3.png);
      padding: 25px;
      margin: 25px;
      }

#PictureSC {
      float: right;
      }

.date {
      width: 50%;
      float: right;
      }

h3    {
      margin-top: 0px;
      margin-bottom: 0px;
      }




