body  	{
	font: 16px Caibri, Sans-Serif;      
	background: url(ricepaper_v3.png);
     	padding: 25px;
      	margin: 25px;
      	}

#PictureSC {
      	float: right;
      	}

#content {
	width: 800px;
	margin: 40px auto 60px;
	}

.job	{
	width: 600px;
	float: left;
	margin:left
	}

.date	{
	width: 200px;
	float: left;
	margin:right
	}
