body  	{
	font: 16px Caibri, Sans-Serif;      
	background: url(ricepaper_v3.png);
     	padding: 25px;
      	margin: 25px;
      	}

#PictureSC {
      	float: right;
      	}

#content {
	width: 800px;
	margin: 40px auto 60px;
	}

.column1 {
	float: left;
	width: 50%;
	}

.row1:after {
	content: "";
	display: table;
	clear: both;
	}

.column {
		float: left;
		width: 30%;
		}
	
.row:after {
		content: "";
		display: table;
		clear: both;
		}
